{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Inscription{% endblock %}
{% block body %}
{{ form_start(form) }}
  {{ form_row(form.username) }}
  {{ form_row(form.email) }}
  {{ form_row(form.password.first) }}
  {{ form_row(form.password.second) }}
<button class="btn btn-primary" type="submit">S'inscrire</button>
{{ form_end(form) }}
{% endblock %}
