{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block body %}
<center>
    <h1>Liste des films</h1>
</center>    
    <body>
        <table class="table table-hover table-stripped">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Réalisateur</th>
              <th>Date de sortie</th>
              <th>Genre</th>
              <th>Acteurs</th>
              <th>Description</th>
              <th>Actions</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">

            {% for film in films %}
              <tr ng-repeat="user in resultUser = (users | filter: {'name': searchName}) | orderBy: order">
                    <td>{{ film.Titre }}</td>
                    <td>{{ film.Realisateur }}</td>
                    <td>{{ film.DateParution ? film.DateParution|date('Y-m-d') : '' }}</td>
                    <td>{{ film.Genre }}</td>
                    <td>{{ film.Acteurs }}</td>
                    <td>{{ film.Description }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('film_show', {'id': film.id}) }}" title="Voir"><i class="fas fa-eye"></i> Voir</a>
                    <a class="btn btn-warning" href="{{ path('film_edit', {'id': film.id}) }}" title="Modifier"><i class="fas fa-edit"></i> Modifier</a>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun film trouvé</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
          <br>
          <center>
            <a class="btn btn-success btn-lg" href="{{ path('film_new') }}" title="Ajouter un film"><i class="fas fa-plus"></i> Ajouter</a>
          <center>
      </div>
    </body>
  </html>
{% endblock %}
