{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>{{ film.Titre }}</h1>
    <html>
    <body>
      <div class="container crud-table" ng-app="myApp" ng-controller="namesCtrl">
        <div class="form-inline pull-left">
          <a class="btn btn-success" href="{{ path('film_new') }}">Ajouter un film</a>
        </div>


  <table class="table table-stripped table-hover">
        <tbody>
            <tr>
                <th>Identifiant</th>
              <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
              <td>{{ film.Titre }}</td>
            </tr>
            <tr>
              <th>Réalisateur</th>
              <td>{{ film.Realisateur }}</td>
            </tr>
            <tr>
              <th>Date de sortie</th>
              <td>{{ film.DateParution ? film.DateParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
              <th>Genre</th>
              <td>{{ film.Genre }}</td>
            </tr>
            <tr>
                <th>Nombre de d'ajouts</th>
                <td>{{ film.users.count }}</td>
            </tr>
            <tr>
               <th>Acteurs</th>
              <td>{{ film.Acteurs }}</td>
            </tr>
             <tr>
              <th>Description</th>
              <td>{{ film.Description }}</td>
            </tr>
             <td>         
                <th>Actions</th>
                <a class="btn btn-primary" href="{{ path('film_edit', {'id': film.id}) }}"><i class="fas fa-edit"></i></a>
              </td>
        </tbody>
    </table>
      <a class="btn btn-warning" href="{{ path('film_index') }}"><i class="fas fa-backward"></i></a>

{% endblock %}
