{% extends 'base.html.twig' %}

{% block title %}Détails - {{user.username}}{% endblock %}

{% block body %}
<center class="mb-3">
    <h1>Informations sur {{user.username}}</h1>
</center>
    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Permissions</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Mes films</th>
                <td>{{ user.films|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_index') }}"><i class="fas fa-backward"></i></a>

{% endblock %}
